div.dsbdinfo_popup {
    display: none;
    position: absolute;
    background-color: #fff;
    margin-top: 25px;
    padding: 5px 10px;
    z-index: 99;
}
div.dsbdinfo_draggable_box {
    position: absolute;
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 6px;
    z-index: 99;
    cursor: move;
}
div.dsbdinfo_draggable_box.fixed {
    position: fixed;
}
div.dsbdinfo_img_popup {
    display: none;
    position: absolute;
}
div.dsbdinfo_img_popup>img {
    border-radius: 2px;
    z-index: 99;
}
#dsbdinfo_timeleap {
    background-color: #fff;
    border-radius: 6px;
    position: absolute;
    right: 5%;
    padding: 0 5px;
    list-style-type: none;
}
#dsbdinfo_timeleap:hover {
    background-color: #add;
}
#dsbdinfo_timeleap>li>span {
    padding-right: 10px;
}
#dsbdinfo_timeleap>li>ul {
    display: none;
    padding-left: 0;
    list-style-type: none;
}
